@(user: String = "", style: String = "scala")

@defining(play.core.PlayVersion.current) { version =>

<h1>Bienvenue sur Evaluator !</h1>

    <h3>Connexion</h3>
    <form action="/auth/signin" method="post">
      Pseudo
      <input type="text" name="pseudo"><br>
      Password
      <input type="password" name="password"> <br><br>
      <input type="submit" value="Connexion">
    </form>

    <h3>Nouveau Membre ?</h3>
    <form action="/auth/signup" method="post">
      <input type="radio" name="usertype" value="admin"> Administrateur
      <input type="radio" name="usertype" value="member" checked="true"> Etudiant <br>
      Pseudo
      <input type="text" name="pseudo"><br>
      Password
      <input type="password" name="password"> <br><br>
      <input type="submit" value="Connexion">
    </form>

}
