@(qnaire: Questionnaire)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Question</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/custom.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
      <section id="top">
        <div class="wrapper">
          <h1>
              @if(qnaire.type_q == 1){
                  Exam
              }else{
                  Trainning
              }
          </h1>
        </div>
      </section>

    <div id="content" class="wrapper doc">
      <article>
        <h2>Questionnaire : @qnaire.id_q</h2>
        <ul>
          <ul>
            @for(qn <- qnaire.questions){
                <li>@Html(qn.display)</li>
                <br/>
            }
          </ul>
        </ul>
        <form action="/" method="get">
          <input class="button_green" type="submit" value="Sauvegarder"/>
        </form>
      </article>

    </div>
    </body>
</html>
