@(qs: List[Questionnaire])

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Question</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/custom.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
      <section id="top">
        <div class="wrapper">
          <h1>EVALUATOR</h1>
        </div>
      </section>

      <div id="content" class="wrapper doc">
      <article>
        <h2>Liste des questionnaires</h2>

        @for(q <- qs){

          <div class="one_questionnaire">
            <p>Questionnaire: @q.id_q</p>
            @for(qn <- q.questions){
              <div class="block_liste_cours">
                <p>Question: @qn.id</p>
                <div class="liste_actions">
                  <a class="lien_unsuscribe" href="/question/delete/@qn.id" alt="Delete" title="Delete"></a>
                </div>
              </div>
            }
          </div>

          <form action="/questionnaire/add" method="post">
            QuestionID:
            <input type="hidden" name="qnid" value="@q.id_q">
            <input type="text" name="qid">
            <input type="submit" value="Add">
          </form>
          <br/>
        }

      </article>
      @menu()
    </div>
    </body>
</html>
